In [1]:
from pathlib import Path
import pandas as pd 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
# Study data files
path = "../Data/train.csv"

# Read data and the study results
social_data = pd.read_csv(path)
social_data.head()

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120,3,45,10,12,Happiness
1,2,30,Male,Twitter,90,5,20,25,30,Anger
2,3,22,Non-binary,Facebook,60,2,15,5,20,Neutral
3,4,28,Female,Instagram,200,8,100,30,50,Anxiety
4,5,33,Male,LinkedIn,45,1,5,2,10,Boredom

In [3]:
social_data.count()

User_ID                       1000
Age                           1000
Gender                        1000
Platform                      1000
Daily_Usage_Time (minutes)    1000
Posts_Per_Day                 1000
Likes_Received_Per_Day        1000
Comments_Received_Per_Day     1000
Messages_Sent_Per_Day         1000
Dominant_Emotion              1000
dtype: int64

In [4]:
gender_count = len(social_data["Gender"].unique())
print(gender_count)

18

In [5]:
social_data['Gender'].unique()

genders = ['Female', 'Male', 'Non-binary']
social_data[social_data['Age'].isin(genders)]


flipped = social_data[social_data['Age'].isin(genders)]
new = flipped.rename(columns={'Age': 'Gender1',
                            'Gender': 'Age',
                            'Gender1': 'Gender'})


filtered_data = social_data[~social_data['Age'].isin(genders)]
filtered_data

cleaned_data = pd.concat([filtered_data, new])

cleaned_data.dropna(subset=['Age', 'Gender'], inplace=True)

cleaned_data

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion,Gender1
0,1,25,Female,Instagram,120,3,45,10,12,Happiness,NaN
1,2,30,Male,Twitter,90,5,20,25,30,Anger,NaN
2,3,22,Non-binary,Facebook,60,2,15,5,20,Neutral,NaN
3,4,28,Female,Instagram,200,8,100,30,50,Anxiety,NaN
4,5,33,Male,LinkedIn,45,1,5,2,10,Boredom,NaN
...,...,...,...,...,...,...,...,...,...,...,...
995,996,33,Non-binary,Twitter,85,4,35,18,18,Boredom,NaN
996,997,22,Female,Facebook,70,1,14,6,10,Neutral,NaN
997,998,35,Male,Whatsapp,110,3,50,25,25,Happiness,NaN
998,999,28,Non-binary,Telegram,60,2,18,8,18,Anger,NaN
999,1000,27,Female,Snapchat,120,4,40,18,22,Neutral,NaN

In [6]:
print(len(cleaned_data['Gender'].unique()))

3

In [8]:
clean_data_frame = cleaned_data.iloc[:, [0, 1,2,3,4,5,6,7,8,9]]
clean_data_frame

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120,3,45,10,12,Happiness
1,2,30,Male,Twitter,90,5,20,25,30,Anger
2,3,22,Non-binary,Facebook,60,2,15,5,20,Neutral
3,4,28,Female,Instagram,200,8,100,30,50,Anxiety
4,5,33,Male,LinkedIn,45,1,5,2,10,Boredom
...,...,...,...,...,...,...,...,...,...,...
995,996,33,Non-binary,Twitter,85,4,35,18,18,Boredom
996,997,22,Female,Facebook,70,1,14,6,10,Neutral
997,998,35,Male,Whatsapp,110,3,50,25,25,Happiness
998,999,28,Non-binary,Telegram,60,2,18,8,18,Anger
999,1000,27,Female,Snapchat,120,4,40,18,22,Neutral

In [9]:
clean_data_frame.to_csv('Clean_CSV.csv',index=False)